<div class="container" *ngIf="!isCreating && !isViewing && !isChangingMasterPassword">
  <article>
    <header>
      <div class="grid">
        <h1>Vault</h1>
        <button (click)="isChangingMasterPassword = true" class="outline secondary">Change Master Password</button>
      </div>
    </header>
    <body>
    <table>
      <tbody>
      <tr *ngFor="let item of data" class="vault-list" (click)="viewPassword(item.id)">
        <td>
          {{_storageService.decrypt_aes(item.name)}}
        </td>
      </tr>
      </tbody>
    </table>
    </body>
    <footer>
      <button (click)="addPassword()">Add</button>
    </footer>
  </article>
</div>

<div class="container" *ngIf="isChangingMasterPassword">
  <article>
    <header>
      <h1>Change Master Password</h1>
    </header>

    <form (ngSubmit)="changeMasterPassword()">
      <body>
      <label for="oldpassword">Old Password</label>
      <input
        type="password"
        id="oldpassword"
        name="oldpassword"
        placeholder="Old Password"
        [(ngModel)]="_OldPassword"
        required
        autocomplete="off"
      >
      <label for="newpassword">New Password</label>
      <input
        type="password"
        id="newpassword"
        name="newpassword"
        placeholder="New Password"
        [(ngModel)]="_NewPassword"
        required
        autocomplete="off"
      >
      <label for="newpassword2">Repeat New Password</label>
      <input
        type="password"
        id="newpassword2"
        name="newpassword2"
        placeholder="Repeat New Password"
        [(ngModel)]="_NewPassword2"
        required
        autocomplete="off"
      >
      </body>

      <footer>
        <div class="grid">
          <button type="submit">Change</button>
          <button (click)="cancel()" class="outline secondary">Cancel</button>
        </div>
      </footer>
    </form>
  </article>
</div>

<div class="container" *ngIf="isViewing">
  <article>
    <header>
      <h1>View</h1>
    </header>

    <form (ngSubmit)="savePassword()">
      <body>
      <label for="vname">Name</label>
      <input
        type="text"
        id="vname"
        name="name"
        placeholder="Name"
        [(ngModel)]="_Name"
        required
        autocomplete="off"
      >
      <label for="vusername">Username</label>
      <input
        type="text"
        id="vusername"
        name="username"
        placeholder="Username"
        [(ngModel)]="_Username"
        required
        autocomplete="off"
      >
      <label for="vpassword">Password</label>
      <input
        type="text"
        id="vpassword"
        name="password"
        placeholder="Password"
        [(ngModel)]="_Password"
        required
        autocomplete="off"
      >
      <label for="vurl">Url</label>
      <input
        type="text"
        id="vurl"
        name="url"
        placeholder="Url"
        [(ngModel)]="_Url"
        required
        autocomplete="off"
      >
      <label for="vnotes">Notes</label>
      <input
        type="text"
        id="vnotes"
        name="notes"
        placeholder="Notes"
        [(ngModel)]="_Notes"
        required
        autocomplete="off"
      >
      </body>

      <footer>
        <div class="grid">
          <button type="submit">Save</button>
          <button (click)="deletePassword()" class="outline">Delete</button>
          <button (click)="cancel()" class="outline secondary">Cancel</button>
        </div>
      </footer>
    </form>
  </article>
</div>

<div class="container" *ngIf="isCreating">
  <article>
    <header>
      <h1>Create</h1>
    </header>

    <form (ngSubmit)="savePassword()">
      <body>
      <label for="cname">Name</label>
      <input
        type="text"
        id="cname"
        name="name"
        placeholder="Name"
        [(ngModel)]="_Name"
        required
        autocomplete="off"
      >
      <label for="cusername">Username</label>
      <input
        type="text"
        id="cusername"
        name="username"
        placeholder="Username"
        [(ngModel)]="_Username"
        required
        autocomplete="off"
      >
      <label for="cpassword">Password</label>
      <input
        type="text"
        id="cpassword"
        name="password"
        placeholder="Password"
        [(ngModel)]="_Password"
        required
        autocomplete="off"
      >
      <label for="curl">Url</label>
      <input
        type="text"
        id="curl"
        name="url"
        placeholder="Url"
        [(ngModel)]="_Url"
        required
        autocomplete="off"
      >
      <label for="cnotes">Notes</label>
      <input
        type="text"
        id="cnotes"
        name="notes"
        placeholder="Notes"
        [(ngModel)]="_Notes"
        required
        autocomplete="off"
      >
      </body>

      <footer>
        <div class="grid">
          <button type="submit">Save</button>
          <button (click)="cancel()" class="outline secondary">Cancel</button>
        </div>
      </footer>
    </form>
  </article>
</div>