h1 {
  margin-bottom: 0;
}

input, textarea {
  font-family: "JetBrains Mono NF", monospace;
  color: #f9e2af;
}

.password-buttons {
  display: flex;
  justify-content: space-between;

  input {
    width: 70%;
  }

  button {
    margin-left: 10px;
    height: 62px;
    width: 15%;
  }
}

.vault-list {
  tr, td {
    &:hover {
      cursor: pointer;
      background-color: #1f2d38;
      border-radius: 5px;
    }
  }
}