.login-main {
  font-family: Inter var, sans-serif;
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;


  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: center;
  }

  input {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #303344;
    color: #BABABA;
    font-size: 1.5rem;

    &:focus {
      outline: none;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    button {
      width: 49%;
      height: 2rem;
      margin-top: 1rem;
      border: 1px solid #BABABA;
      border-radius: 0.5rem;
      background-color: #303344;
      color: #BABABA;
    }
  }
}