body {
  background-color: #181825;
  color: #BABABA;
}

input {
  background-color: #303344;
  color: #BABABA;

  &:focus {
    outline: none;
  }
}

button {
  background-color: #303344;
  color: #BABABA;
  border: 2px solid #BABABA;
}